@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: fadeInSlide 1s ease-out;
}

header, main, footer {
    animation: fadeInSlide 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

#contato {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(95, 95, 95, 0.1);
}

#contato h1 {
    text-align: center;
    margin-bottom: 20px;
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contato input, #contato textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contato button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contato button:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-desktop {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 18px;
        right: 0;
        width: 80%;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
        
    }

    .nav-desktop.active {
        display: flex;
    }

    .nav-list1 {
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        
    }

    .nav-list1 li {
        margin: 10px 0;
    }

    .nav-list1 li a {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        text-decoration: none;
    }

    .nav-list1 li a:hover {
        color: yellow;
    }
}