* {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

header {
    border-color: rgb(0, 0, 0);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;

}

section {
    padding: 50px 0;

}

nav {
    float: right;

    ul {
        list-style: none;
        font-family: Arial;
        text-transform: uppercase;

        li {
            display: inline-block;
            margin: 15px;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                transition: 0.3s all;
            }

            a:hover {

                color: rgb(238, 255, 0);
                padding: 10px;
                border-radius: 50px;
            }

            .btn {
                background-color: rgba(209, 209, 209, 0.219);
                padding: 10px 20px 10px 20px;
                border-radius: 50px;

                .btn:hover {


                    color: white;

                }





            }
        }
    }
}