* {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

header {
    border-color: rgb(0, 0, 0);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    animation: fadeInSlide 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

section {
    padding: 50px 0;

}

nav {
    float: right;

    ul {
        list-style: none;
        font-family: Arial;
        text-transform: uppercase;

        li {
            display: inline-block;
            margin: 15px;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                transition: 0.3s all;
            }

            a:hover {

                color: rgb(238, 255, 0);
                padding: 10px;
                border-radius: 50px;
            }

            .btn {
                background-color: rgba(209, 209, 209, 0.219);
                padding: 10px 20px 10px 20px;
                border-radius: 50px;

                .btn:hover {


                    color: white;

                }





            }
        }
    }
}

body {
    background-image: url(../fotos/ImagenDeFundoParaGallry.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    animation: fadeInSlide 1s ease-out;
}

p {
    font-family: Arial;
    color: rgb(146, 146, 146);
}

footer {
    background-color: black;
    padding: 20px 0px;
    animation: fadeInSlide 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;

    p {
        text-align: center;
    }
}



main {
    width: 80%;
    margin: auto;
    animation: fadeInSlide 1s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;

    .banner {
        position: relative;


        .grid {
            justify-content: center;
            height: auto;
            border-radius: 20px;
            margin: 20px auto;

            .img {
                width: 100%;
                height: auto;
                border-radius: 20px;
                box-shadow: 0 0 20px 5px rgba(98, 0, 255, 0.5);
            }

            .col {
                text-align: center;
                margin-top: 20px;


                h3 {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                    font-family: 'Times New Roman', Times, serif;
                    text-transform: uppercase;
                    font-size: 25px;
                    color: rgba(255, 255, 255, 0.8);
                    margin: 10px 0;
                }
            }
        }
        .texto-retro {
            text-transform: uppercase;
            margin: 7px;
            font-size: 20px;
            text-align: center;
            font-family: Arial;
        }
        .btn {
            background-color: rgb(26, 0, 97);
            color: white;
            text-decoration: none;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            font-size: 20px;
            display: inline-block;
            transition: 0.3s;
        }
        .btn:hover {
            background-color: rgb(50, 0, 150);
            color: white;
            
        }
    }

    #Maculado {
        h2 {
            text-transform: uppercase;
            margin: 30px;
            text-align: center;
            font-family: Arial;
        }

        .Maculado {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            width: 850px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 0 17px 8px rgb(148, 148, 148);
            margin: 20px auto;

        }

        p {
            font-size: 20px;
            margin: 30px;
            font-family: Arial;
            text-align: center;
            color: rgb(255, 255, 255);
        }
        h3 {
            font-size: 37px;
            font-family:  'Times New Roman', Times, serif;
            text-align: center;
            color: rgb(255, 255, 255);
            box-shadow: 0 0 5px rgba(255, 255, 255);
            text-transform: uppercase;
            
        }
    }
}

.logosdofooter {
    background-color: #00000096;
    color: #f0f0f0;
    padding: 5px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
   .InsTube {
        display: flex;
        justify-content: center;
        gap: 25px; /* espaço entre os ícones */
        margin-bottom: 10px;
    }
    .InsTube-icon {
        width: 36px;
        height: 36px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .InsTube-icon:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }
  
    .footerP {
        font-size: 1.0rem;
        color: #ccc;
    }
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}